snippet control
	<div class="control-group">
		<label>
			${1}
		</label>

		<div class="controls">
			${2}
		</div>
	</div>
snippet ilr
	<label class="radio inline">
	  <input type="radio" name="${1}" value="${2}"> ${3}
	</label>
