snippet rcc
	class ${1:`substitute(VimSnippetsFilename(), '\(_\|^\)\(.\)', '\u\2', 'g')`} extends React.Component {
		render () {
			return (
				${0}
			);
		}
	}
snippet rc
	${1:`substitute(VimSnippetsFilename(), '\(_\|^\)\(.\)', '\u\2', 'g')`} = React.createClass({
		render: function () {
			return (
				${0}
			);
		}
	})
snippet rr
	React.render(
		React.createElement(${1}),
		document.getElementById("${2}")
	);
