snippet echo
	{{${1}}}
snippet if
	{{#if ${1}}}
		${2}
	{{/if}}
snippet unless
	{{#unless ${1}}}
		${2}
	{{/unless}}
snippet ifi
	{{#if ${1}}}${2}{{/if}}
snippet unlessi
	{{#unless ${1}}}${2}{{/unless}}
